@forward 'base';
@forward 'components';
@forward 'layout';
@forward 'pages';

body {
//     // font-size: 80%; 
    letter-spacing: 0.01em;
//     line-height: 1.6; 
   }


//footer btn
  .btn.custom-nav-btn:hover {
    color: white;
    background-color: #2d464e; /* 호버 시 색상 */
    // border-color: #545b62;
  }
  
  img {
    display: inline-block; /* 기본값이지만 명시적으로 표시 */
  }
  
  .center-container {
    text-align: center; /* 이미지가 중앙 정렬됨 */
  }

