@forward 'base';
@forward 'components';
@forward 'layout';
@forward 'pages';

body {
//     // font-size: 80%; 
    letter-spacing: 0.01em;
//     line-height: 1.6; 
   }


//footer btn
  .btn.custom-nav-btn:hover {
    color: white;
    background-color: #2d464e; /* 호버 시 색상 */
    // border-color: #545b62;
  }

  .gslide-inner-content img {
    max-width: 100vw; /* 화면 너비에 맞춤 */
    max-height: 90vh; /* 화면 높이에 맞춤 */
    width: auto; /* 비율 유지 */
    height: auto; /* 비율 유지 */
    margin: 0 auto; /* 가운데 정렬 */
    display: block;
}
